* {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --azure:rgb(27,114,232);
    --blue:rgb(15,38,60);
    --blue-badgs:rgb(22,91,186);
    --grey:rgb(229,229,229);
}

/* HEADER */

.mb-3 {
    margin-bottom: 0! important;
}

.nav-header .input-group-text {
    border-right: 0;
    background-color: var(--grey);
    padding: 4px;
}

.nav-header .form-control {
    border-left: 0;
    background-color: var(--grey);
    padding: 4px;
}