* {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    overflow: auto;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --azure:rgb(27,114,232);
    --blue:rgb(15,38,60);
    --blue-badgs:rgb(22,91,186);
    --grey:rgb(229,229,229);
    --grey__icon:rgb(91,88,88);
    --orange__bell:rgb(237,133,0);
    --back__header:rgb(248,249,250);
}





/* HEADER */

header {
    background-color: var(--back__header);
}

.mb-3 {
    margin-bottom: 0! important;
}

.nav-header .input-group-text {
    border-right: 0;
    background-color: var(--grey);
    padding: 4px;
}

.nav-header .form-control {
    border-left: 0;
    background-color: var(--grey);
    padding: 4px;
}

.question-btn { 
    color: white;
    background-color: var(--grey__icon);
    padding: 5px;
    border-radius: 999px;
    border: 1px solid;
    aspect-ratio: 2.3/1;
}

.bell-dropdown {
    border: 0;
    background-color: white;
    color: var(--orange__bell);
}

@media screen and (min-width:350px) {
    .logo-mobile {
        width: 60px;
    }
}

@media screen and (min-width:150px) {
    .logo-mobile {
        width: 45px;
    }
}

/************
    MAIN 
 **********/

/* Sidebar */

.content-head {
    display: flex;
}

.sidebar{
    flex-shrink: 0;
    width: 140px;
    overflow: hidden;
    background-color: var(--blue);
}

.icon-sidebar {
    font-size: 20px;
}

.sidebar-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.menu-sidebar :hover  {
    background-color: rgb(252, 252, 252,0.5);
}

.sidebar .menu-sidebar {
    width: auto;
    opacity: 0.9;
}

.menu-sidebar i,
.menu-sidebar p {
    padding: 6px;
}

@media screen and (min-width:100px){
    
    .sidebar{
        width: 65px;
    }

    .menu-sidebar p{
        display: none;
    }

}

@media screen and (min-width:980px){
    
    .sidebar{
        width: 140px;
    }

    .menu-sidebar p {
        display: block;
    }

}


/* Hero */


.hero {
    flex-grow: 1;
    width: calc(100% - 140px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header-hero {
    background-color: var(--azure);
    flex-shrink: 0;
    padding: 20px 10px;
}

.hero-content {
    flex-grow: 1;
    display: flex;
}

.text-bg-primary {
    background-color: var(--blue-badgs)!important;
}

.avatar{
    width: 30px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}


@media screen and (min-width:950px) {
    .offcanvas.offcanvas-end{
        width: 800px;
    }
}


